Workshop1-Business-Service/src/wsdl/localhost_8080/Workshop1-SOAP-Service-1.0-SNAPSHOT/PagosServiceService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://www.servicios.co/pagos/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.servicios.co/pagos/service">
<types>
<xsd:schema>
<xsd:import namespace="http://www.servicios.co/pagos/schemas" schemaLocation="http://localhost:8080/Workshop1-SOAP-Service-1.0-SNAPSHOT/PagosServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="Cosultar">
<part xmlns:ns1="http://www.servicios.co/pagos/schemas" name="Input" element="ns1:ReferenciaFactura"/>
</message>
<message name="CosultarResponse">
<part xmlns:ns2="http://www.servicios.co/pagos/schemas" name="Input" element="ns2:ResultadoConsulta"/>
</message>
<message name="Pagar">
<part xmlns:ns3="http://www.servicios.co/pagos/schemas" name="Input" element="ns3:Pago"/>
</message>
<message name="PagarResponse">
<part xmlns:ns4="http://www.servicios.co/pagos/schemas" name="Input" element="ns4:Resultado"/>
</message>
<message name="Compensar">
<part xmlns:ns5="http://www.servicios.co/pagos/schemas" name="Input" element="ns5:Pago"/>
</message>
<message name="CompensarResponse">
<part xmlns:ns6="http://www.servicios.co/pagos/schemas" name="Input" element="ns6:Resultado"/>
</message>
<portType name="PagosInerface">
<operation name="Cosultar">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="consultar" message="tns:Cosultar"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://www.servicios.co/pagos/service/PagosInerface/CosultarResponse" message="tns:CosultarResponse"/>
</operation>
<operation name="Pagar">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="pagar" message="tns:Pagar"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://www.servicios.co/pagos/service/PagosInerface/PagarResponse" message="tns:PagarResponse"/>
</operation>
<operation name="Compensar">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="compensar" message="tns:Compensar"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://www.servicios.co/pagos/service/PagosInerface/CompensarResponse" message="tns:CompensarResponse"/>
</operation>
</portType>
</definitions>