Workshop1-Business-Service/src/wsdl/localhost_8080/Workshop1-SOAP-Service-1.0-SNAPSHOT/PagosServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.servicios.co/pagos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.servicios.co/pagos/schemas">

<xs:element name="Pago" type="tns:Pago"/>

<xs:element name="ReferenciaFactura" type="tns:ReferenciaFactura"/>

<xs:element name="Resultado" type="tns:Resultado"/>

<xs:element name="ResultadoConsulta" type="tns:ResultadoConsulta"/>

<xs:complexType name="ReferenciaFactura">
<xs:sequence>
<xs:element name="referenciaFactura" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Resultado">
<xs:sequence>
<xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
<xs:element name="mensaje" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResultadoConsulta">
<xs:sequence>
<xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
<xs:element name="totalPagar" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pago">
<xs:sequence>
<xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
<xs:element name="totalPagar" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>